{% extends 'polls/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>ГЛАВНАЯ СТРАНИЦА</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis delectus et eum facilis inventore praesentium quae quo repudiandae, vitae?</p>


    </div>

    <div class="image-container">
        <p class="image-holder">
            <img src="https://animated-images.su/_ph/25/2/886082167.gif" />
        </p>
    </div>
{% endblock %}
